# Pandas 2

In [10]:
import pandas as pd
import numpy as np

# Data Frames

- Data Frames é o elemento mais importante do pandas, e são diretamente inpiradados pela linguagem de programação `R`. Podemos pensar em um Data Frame como um monte de Objetos da Série juntos para compartilhar o mesmo índice. Vamos usar pandas para isso

In [14]:
dataframe_vazio = pd.DataFrame() # Criando objeto Data Frame vazio , usando o pd.DataFrame()

print(type(dataframe_vazio))

display(dataframe_vazio)

<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

# Criando um Data Frame usando dicionário

In [19]:
dados_dic = { 
    'Date' : ['2020-01-01' 
              , '2020-02-01' 
              , '2020-03-01' 
              , '2020-04-01' 
              , '2020-05-01'] ,
    'Temperatura' : [29.1 , 31.2 , 28.5 , 28.0 , 24.0] ,
    'Classification' : ["Quente" , "Muito quente" , "Quente" , "Quente" , "Confortável"]
}

display(dados_dic)

{'Date': ['2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01',
  '2020-05-01'],
 'Temperatura': [29.1, 31.2, 28.5, 28.0, 24.0],
 'Classification': ['Quente',
  'Muito quente',
  'Quente',
  'Quente',
  'Confortável']}

In [22]:
dataframe = pd.DataFrame(dados_dic)

display(dataframe)
print(dataframe)

         Date  Temperatura Classification
0  2020-01-01         29.1         Quente
1  2020-02-01         31.2   Muito quente
2  2020-03-01         28.5         Quente
3  2020-04-01         28.0         Quente
4  2020-05-01         24.0    Confortável

         Date  Temperatura Classification
0  2020-01-01         29.1         Quente
1  2020-02-01         31.2   Muito quente
2  2020-03-01         28.5         Quente
3  2020-04-01         28.0         Quente
4  2020-05-01         24.0    Confortável

# Criando DataFrame apartir de um arquivo CSV

- O SCV significa "Valores Separados por Vírgula". Basicamente, são arquivos de texto onde cada linha representa a entrada de um valor, esses valores são separados por um caractere delimitador, geralmente é linha. 
Quando passamos esse arquivo para o pandas, ele consegue interpretar essas vírgulas como delimitadores e organizar as informações em linhas e colunas corretamente

In [29]:
display(dataframe)

pd.DataFrame.to_csv(dataframe , "Arquivo.csv" , sep= "," , index= False)
pd.DataFrame.to_csv(dataframe , "Arquivo.csv2" , sep= "," , index= False)

         Date  Temperatura Classification
0  2020-01-01         29.1         Quente
1  2020-02-01         31.2   Muito quente
2  2020-03-01         28.5         Quente
3  2020-04-01         28.0         Quente
4  2020-05-01         24.0    Confortável

In [36]:
df = pd.read_csv("Arquivo.csv")

teste = pd.read_csv ("C:/Users\FIC-TI Especifico\Downloads\FORECAST_20250418_005135.csv")

display(teste)

<>:3: SyntaxWarning: invalid escape sequence '\F'
<>:3: SyntaxWarning: invalid escape sequence '\F'
C:\Users\FIC-TI Especifico\AppData\Local\Temp\ipykernel_20280\3484313806.py:3: SyntaxWarning: invalid escape sequence '\F'
  teste = pd.read_csv ("C:/Users\FIC-TI Especifico\Downloads\FORECAST_20250418_005135.csv")

,TC_ID,OPERAÇÃO PUNCH,CLIENTE,PRODUTO,CELULA,DATA,INTERVALO,GRUPO,VOLUME OFERECIDAS,VOLUME ATENDIDAS,...,ABS,TO,FÉRIAS,NR17,TREINAMENTO,REUNIAO,BANHEIRO,FEEDBACK,SISTEMA,PERDA DE LOG
0,1416,MCZ II - ALELO - FORCA DE VENDAS - CAC,ALELO PAT,FORÇA DE VENDAS,ATENDIMENTO,2024-08-02,09:00:00,NEOBPO,3.77986,3.77986,...,0,0,0,0.163265,0.03,0,0.013,0,0.015,0
1,1417,MCZ II - ALELO PAT - PERSONALIZADA,ALELO PAT,PERSONALIZADA,ATENDIMENTO,2024-08-03,08:30:00,NEOBPO,0.00000,NaN,...,0,0,0,0.163265,0.00,0,0.013,0,0.000,0
2,1415,MCZ II - ALELO - CAU,ALELO PAT,CAU COMPLETO,ATENDIMENTO,2024-08-09,12:30:00,NEOBPO,92.73240,92.66920,...,0,0,0,0.105263,0.04,0,0.015,0,0.000,0
3,1413,MCZ II - ALELO - PREMIUM - VOZ E-MAIL EVENTO,ALELO PAT,PREMIUM Premium,ATENDIMENTO,2024-08-02,22:00:00,NEOBPO,0.00000,NaN,...,0,0,0,0.163265,0.03,0,0.013,0,0.097,0
4,1416,MCZ II - ALELO - FORCA DE VENDAS - CAC,ALELO PAT,CAP,ATENDIMENTO,2024-08-26,21:30:00,NEOBPO,0.00000,0.00000,...,0,0,0,0.163265,0.00,0,0.000,0,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1416,MCZ II - ALELO - FORCA DE VENDAS - CAC,ALELO PAT,CAC,ATENDIMENTO,2024-08-28,17:30:00,NEOBPO,2.55589,2.55589,...,0,0,0,0.163265,0.00,0,0.000,0,0.000,0
96,1412,MCZ II - ALELO - CAE PAT,ALELO PAT,CAE PAT,ATENDIMENTO,2024-08-28,08:00:00,NEOBPO,18.11210,18.11210,...,0,0,0,0.163265,0.00,0,0.013,0,0.040,0
97,1417,MCZ II - ALELO PAT - PERSONALIZADA,ALELO PAT,PERSONALIZADA,ATENDIMENTO,2024-08-10,07:00:00,NEOBPO,0.00000,NaN,...,0,0,0,0.163265,0.00,0,0.013,0,0.000,0
98,1412,MCZ II - ALELO - CAE PAT,ALELO PAT,CAE PAT,ATENDIMENTO,2024-08-05,09:00:00,NEOBPO,53.65400,53.65400,...,0,0,0,0.163265,0.00,0,0.013,0,0.040,0
99,1415,MCZ II - ALELO - CAU,ALELO PAT,CAU COMPLETO,ATENDIMENTO,2024-08-15,07:30:00,NEOBPO,30.31780,27.70580,...,0,0,0,0.105263,0.04,0,0.015,0,0.000,0

In [37]:
display(teste.head(4))

,TC_ID,OPERAÇÃO PUNCH,CLIENTE,PRODUTO,CELULA,DATA,INTERVALO,GRUPO,VOLUME OFERECIDAS,VOLUME ATENDIDAS,...,ABS,TO,FÉRIAS,NR17,TREINAMENTO,REUNIAO,BANHEIRO,FEEDBACK,SISTEMA,PERDA DE LOG
0,1416,MCZ II - ALELO - FORCA DE VENDAS - CAC,ALELO PAT,FORÇA DE VENDAS,ATENDIMENTO,2024-08-02,09:00:00,NEOBPO,3.77986,3.77986,...,0,0,0,0.163265,0.03,0,0.013,0,0.015,0
1,1417,MCZ II - ALELO PAT - PERSONALIZADA,ALELO PAT,PERSONALIZADA,ATENDIMENTO,2024-08-03,08:30:00,NEOBPO,0.00000,NaN,...,0,0,0,0.163265,0.00,0,0.013,0,0.000,0
2,1415,MCZ II - ALELO - CAU,ALELO PAT,CAU COMPLETO,ATENDIMENTO,2024-08-09,12:30:00,NEOBPO,92.73240,92.66920,...,0,0,0,0.105263,0.04,0,0.015,0,0.000,0
3,1413,MCZ II - ALELO - PREMIUM - VOZ E-MAIL EVENTO,ALELO PAT,PREMIUM Premium,ATENDIMENTO,2024-08-02,22:00:00,NEOBPO,0.00000,NaN,...,0,0,0,0.163265,0.03,0,0.013,0,0.097,0

In [38]:
display(teste.tail(4))

,TC_ID,OPERAÇÃO PUNCH,CLIENTE,PRODUTO,CELULA,DATA,INTERVALO,GRUPO,VOLUME OFERECIDAS,VOLUME ATENDIDAS,...,ABS,TO,FÉRIAS,NR17,TREINAMENTO,REUNIAO,BANHEIRO,FEEDBACK,SISTEMA,PERDA DE LOG
96,1412,MCZ II - ALELO - CAE PAT,ALELO PAT,CAE PAT,ATENDIMENTO,2024-08-28,08:00:00,NEOBPO,18.1121,18.1121,...,0,0,0,0.163265,0.00,0,0.013,0,0.04,0
97,1417,MCZ II - ALELO PAT - PERSONALIZADA,ALELO PAT,PERSONALIZADA,ATENDIMENTO,2024-08-10,07:00:00,NEOBPO,0.0000,NaN,...,0,0,0,0.163265,0.00,0,0.013,0,0.00,0
98,1412,MCZ II - ALELO - CAE PAT,ALELO PAT,CAE PAT,ATENDIMENTO,2024-08-05,09:00:00,NEOBPO,53.6540,53.6540,...,0,0,0,0.163265,0.00,0,0.013,0,0.04,0
99,1415,MCZ II - ALELO - CAU,ALELO PAT,CAU COMPLETO,ATENDIMENTO,2024-08-15,07:30:00,NEOBPO,30.3178,27.7058,...,0,0,0,0.105263,0.04,0,0.015,0,0.00,0

In [39]:
display(teste.describe())

,TC_ID,VOLUME OFERECIDAS,VOLUME ATENDIDAS,TMO PREVISTO,HC PREVISTO S/ INDISP.,NS PREVISTO,HC BRUTO,ABS,TO,FÉRIAS,NR17,TREINAMENTO,REUNIAO,BANHEIRO,FEEDBACK,SISTEMA,PERDA DE LOG
count,100.000000,100.000000,84.000000,68.000000,100.000000,40.000000,100.000000,100.0,100.0,100.0,100.000000,100.000000,100.0,100.000000,100.0,100.000000,100.0
mean,1414.940000,10.565892,12.150201,196.699084,3.388657,0.900130,4.226692,0.0,0.0,0.0,0.141504,0.014910,0.0,0.008230,0.0,0.017040,0.0
std,1.644212,25.178949,25.700418,200.433753,5.355851,0.175392,6.741189,0.0,0.0,0.0,0.046748,0.017333,0.0,0.006648,0.0,0.031936,0.0
min,1412.000000,0.000000,0.000000,0.000000,0.000000,0.412675,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
25%,1413.000000,0.000000,0.000000,0.000000,0.000000,0.904642,0.000000,0.0,0.0,0.0,0.163265,0.000000,0.0,0.000000,0.0,0.000000,0.0
50%,1416.000000,0.000000,0.000000,181.039000,0.000000,0.991223,0.000000,0.0,0.0,0.0,0.163265,0.000000,0.0,0.013000,0.0,0.000000,0.0
75%,1416.000000,4.539680,5.706735,390.913250,4.990158,1.000000,5.513552,0.0,0.0,0.0,0.163265,0.035000,0.0,0.013000,0.0,0.015000,0.0
max,1417.000000,137.500000,118.464000,525.874000,18.323000,1.000000,24.309600,0.0,0.0,0.0,0.163300,0.045000,0.0,0.015000,0.0,0.097000,0.0

# Criar um DataFrame apartir de um arquivo Excel

In [48]:
# Instalação via "pip install openpyxl"

pd.DataFrame.to_excel(teste , "Arquivo_teste.xlsx" , index = False)